.shadow-place {
  background-color: rgba(63, 7, 98, 0.8);
}

@media screen and (max-width: 400px) {
  .header {
    height: 70vh; /* Cambia el alto a 60vh para pantallas más pequeñas */
  }
}
@media (min-width: 401px) and (max-width: 600px){
  .header {
    height: 58vh; /* Cambia el alto a 60vh para pantallas más pequeñas */
  }
  .wave{
    bottom: -5px;
  }
}

@media screen and (max-width: 400px) {
  .header {
    height: 70vh; /* Cambia el alto a 60vh para pantallas más pequeñas */
  }
}

@media (min-height: 700px) and (min-width: 1280px){
  .header {
    height: 87vh; /* Cambia el alto a 60vh para pantallas más pequeñas */
  }
  .wave{
    bottom: -5px;
  }
}